@{
    ViewData["Title"] = "Category Tables  :  " + (ViewBag.tabtyp != null ? "[" + ((Istab.TABTYP)ViewBag.tabtyp).GetTabtypCode() + "] " + ((Istab.TABTYP)ViewBag.tabtyp).GetTabtypDesc() : string.Empty);
}

<div class="toolbar-panel">
    <h2 class="title-text">@ViewData["Title"]</h2>
    <div class="ui inverted menu">
        <a class="item" onclick="$(this).addForm()" id="btn-add">
            <i class="add icon green"></i>
            Add
        </a>
        <a class="item" onclick="$(this).editForm()" id="btn-edit">
            <i class="edit icon yellow"></i>
            Edit
        </a>
        <a class="item" onclick="$(this).confirmDelete()" id="btn-delete">
            <i class="delete icon red"></i>
            Delete
        </a>
        <a class="item" onclick="window.location.reload(true)" id="btn-reload">
            <i class="refresh icon blue"></i>
            Reload
        </a>
        <div class="item">
            <div class="ui icon input">
                <input data-search-by="accnum" type="text" placeholder="Search..." id="search-key" onkeypress="$(this).enterPerformSearch(event)">
                <i class="search link icon" onclick="$('#search-key').search()" id="btn-search"></i>
            </div>
        </div>
    </div>
</div>

<div class="content-panel">
    <div class="ui one column">
        <div class="ui form">
            <div class="inline fields">
                <label>Table Type </label>
                <select class="ui selection dropdown" id="tabtyp-select" style="width: 350px;">
                    @foreach (Istab.TABTYP item in Enum.GetValues(typeof(Istab.TABTYP)).Cast<Istab.TABTYP>().OrderBy(t => t.GetTabtypDesc()))
                    {
                        if (ViewBag.tabtyp != null && item.GetTabtypCode() == ((Istab.TABTYP)ViewBag.tabtyp).GetTabtypCode())
                        {
                            <option value="@item.GetTabtypCode()" selected="selected">@item.GetTabtypDesc() @*[@item.GetTabtypCode()]*@</option>
                        }
                        else
                        {
                            <option value="@item.GetTabtypCode()">@item.GetTabtypDesc() @*[@item.GetTabtypCode()]*@</option>
                        }
                    }
                </select>
                <a asp-controller="Istab" asp-action="Index" asp-route-tabtyp="" id="switch-tabtyp" style="display: none;">Go</a>
            </div>
        </div>
    </div>
    <div class="ui two column stackable grid" style="min-height: 550px;">
        <div class="ten wide column" id="glacc-chart-panel">
            <div class="scrollable-box-wrapper">
                <div class="scrollable-box">
                    <div class="layer" id="readonly-layer" style="display: none;"></div>
                    <table class="ui selectable celled striped table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Short Name (Th.)</th>
                                <th>Short Name (En.)</th>
                                <th>Description (Th.)</th>
                                <th>Description (En.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<Istab>)Model)
                            {
                                <tr class="data-row" id="@item.id" aria-typcod="@item.typcod" style="cursor: pointer;" onclick="$(this).Selected()">
                                    <td>@item.typcod</td>
                                    <td>@item.shortnam</td>
                                    <td>@item.shortnam2</td>
                                    <td>@item.typdes</td>
                                    <td>@item.typdes2</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div class="six wide column" id="istab-form-panel">
            <form class="ui form" method="post" asp-controller="Istab" asp-action="AddEdit" onsubmit="" id="add-edit-form">
                <h4 class="ui dividing header">Add/Edit Data</h4>
                <input type="hidden" name="id" value="-1" />
                <input type="hidden" name="tabtyp" value="@(((Istab.TABTYP)ViewBag.tabtyp).GetTabtypCode())" />
                <div class="field">
                    <label>Code</label>
                    <div class="six wide field">
                        <input type="text" name="typcod" value="" class="text-uppercase" placeholder="Code" disabled="disabled" />
                        @{
                                // onblur="$(this).checkDuplicate()"
                            }
                    </div>
                    <div class="sixteen wide field err-message" id="err-message">
                        
                    </div>
                </div>
                <div class="field">
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Short Name (Th.)</label>
                            <div class="field">
                                <input type="text" name="shortnam" placeholder="Short Name (Th.)" disabled="disabled" />
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>Short Name (En.)</label>
                            <div class="field">
                                <input type="text" name="shortnam2" placeholder="Short Name (En.)" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Description (Th.)</label>
                    <div class="sixteen wide field">
                        <input type="text" name="typdes" placeholder="Description (Th.)" disabled="disabled" />
                    </div>
                </div>
                <div class="field">
                    <label>Description (En.)</label>
                    <div class="sixteen wide field">
                        <input type="text" name="typdes2" placeholder="Description (En.)" disabled="disabled" />
                    </div>
                </div>
                <button type="button" class="ui button green" tabindex="0" disabled="disabled" id="btn-submit" onclick="$(this).submitForm()"><i class="check circle icon"></i>Submit</button>
                <button type="button" class="ui button red" tabindex="1" disabled="disabled" id="btn-cancel" onclick="$(this).clearForm()"><i class="times circle icon"></i>Cancel</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
        $('#tabtyp-select').dropdown({
            onChange: function (value, text, $selectedItem) {
                window.location = '/Istab/Index?tabtyp=' + value;
            }
        });

        $.fn.extend({
            Selected: function () {
                var id = $(this).attr('id');

                var arr = $('.' + $(this).attr('class'));
                $.each(arr, function (key, value) {
                    $(arr[key]).removeClass('active');
                });
                $(this).addClass('active');

                $.ajax({
                    type: 'GET',
                    url: '/Istab/GetIstab',
                    data: { id: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        $('#add-edit-form').find('[name="id"]').val(data.id);
                        $('#add-edit-form').find('[name="typcod"]').val(data.typcod);
                        $('#add-edit-form').find('[name="shortnam"]').val(data.shortnam);
                        $('#add-edit-form').find('[name="shortnam2"]').val(data.shortnam2);
                        $('#add-edit-form').find('[name="typdes"]').val(data.typdes);
                        $('#add-edit-form').find('[name="typdes2"]').val(data.typdes2);
                    }

                });
            },

            addForm: function () {
                $('#add-edit-form').find('[name="id"]').val('-1');
                $('#add-edit-form').find('[name="typcod"]').removeAttr('disabled').val('').focus();
                $('#add-edit-form').find('[name="shortnam"]').removeAttr('disabled').val('');
                $('#add-edit-form').find('[name="shortnam2"]').removeAttr('disabled').val('');
                $('#add-edit-form').find('[name="typdes"]').removeAttr('disabled').val('');
                $('#add-edit-form').find('[name="typdes2"]').removeAttr('disabled').val('');
                $('#btn-submit').removeAttr('disabled').val('');
                $('#btn-cancel').removeAttr('disabled').val('');
                $('#readonly-layer').show();
            },

            editForm: function () {
                var selected_row = $('.data-row.active');

                if (selected_row.length == 0)
                    return;

                $('#add-edit-form').find('[name="shortnam"]').removeAttr('disabled').focus();
                $('#add-edit-form').find('[name="shortnam2"]').removeAttr('disabled');
                $('#add-edit-form').find('[name="typdes"]').removeAttr('disabled');
                $('#add-edit-form').find('[name="typdes2"]').removeAttr('disabled');
                $('#btn-submit').removeAttr('disabled');
                $('#btn-cancel').removeAttr('disabled');
                $('#readonly-layer').show();
            },

            confirmDelete: function () {
                var selected_row = $('.data-row.active');

                if (selected_row.length == 0)
                    return;

                if (confirm("Delete " + $(selected_row).attr('aria-typcod') + ", Are you want to continue?") === true) {
                    $.ajax({
                        type: 'POST',
                        url: '/Istab/DeleteAsync',
                        data: JSON.stringify({ id: $(selected_row).attr('id') }),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        error: function (err) {
                            if (err.status === 400) {
                                alert("An error has occured.");
                            }
                        },
                        success: function (data) {
                            if (data.result === true) {
                                $('#btn-reload').click();
                            }
                            else {
                                alert(data.message);
                            }
                        }
                    });
                }
            },

            clearForm: function () {
                var selected_row = $('.data-row.active');

                $('#add-edit-form').find('[name="typcod"]').attr({ 'disabled': 'disabled' }).val('');
                $('#add-edit-form').find('[name="shortnam"]').attr({ 'disabled': 'disabled' }).val('');
                $('#add-edit-form').find('[name="shortnam2"]').attr({ 'disabled': 'disabled' }).val('');
                $('#add-edit-form').find('[name="typdes"]').attr({ 'disabled': 'disabled' }).val('');
                $('#add-edit-form').find('[name="typdes2"]').attr({ 'disabled': 'disabled' }).val('');
                $('#btn-submit').attr({ 'disabled': 'disabled' }).val('');
                $('#btn-cancel').attr({ 'disabled': 'disabled' }).val('');
                $('#err-message').html('').hide();
                $('#readonly-layer').hide();

                if (selected_row.length > 0) {
                    selected_row.click();
                }
            },

            submitForm: function () {
                var data = new Object();
                data.id = $('#add-edit-form').find('[name="id"]').val();
                data.tabtyp = $('#add-edit-form').find('[name="tabtyp"]').val();
                data.typcod = $('#add-edit-form').find('[name="typcod"]').val().toUpperCase();
                data.shortnam = $('#add-edit-form').find('[name="shortnam"]').val();
                data.shortnam2 = $('#add-edit-form').find('[name="shortnam2"]').val();
                data.typdes = $('#add-edit-form').find('[name="typdes"]').val();
                data.typdes2 = $('#add-edit-form').find('[name="typdes2"]').val();

                if (data.typcod != null && data.typcod.trim().length == 0) {
                    $('#add-edit-form').find('[name="typcod"]').focus();
                    alert('Please specify code');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/Istab/AddEditAsync',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (err) {
                        if (err.status === 400) {
                            alert("An error has occured.");
                        }
                    },
                    success: function (data) {
                        if (data.result == true) {
                            $('#btn-reload').click();
                        }
                        else {
                            $('#err-message').html(data.message).slideDown('fast');
                            $('#add-edit-form').find('[name="typcod"]').focus();
                        }
                    }
                })
            },

            checkDuplicate: function () {
                var typcod = $(this).val().toUpperCase();

                $.ajax({
                    type: 'GET',
                    url: '/Istab/CheckDuplicate',
                    data: { tabtyp: $('#add-edit-form').find('[name="tabtyp"]').val(), typcod: typcod },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        if (data.result == false) {
                            $('#err-message').html(data.message).slideDown('fast');
                        }
                        else {


                        }
                    }
                });

            }
        });
    </script>
}