
@{
    ViewData["Title"] = "Chart of Accounts";
    Glacc selected_item = ViewBag.SelectedItem;
    var selected_id = selected_item != null ? selected_item.id : -1;
}


<h2 class="title-text">@ViewData["Title"]</h2>
@*<div class="ui pointing secondary menu" id="glacc-table">
        <a class="item active" data-tab="GetAcc?acc_group=1" id="Assets">Assets</a>
        <a class="item" data-tab="GetAcc?acc_group=2" id="Liabilities">Liabilities</a>
        <a class="item" data-tab="GetAcc?acc_group=3" id="Equity">Shareholder's Equity</a>
        <a class="item" data-tab="GetAcc?acc_group=4" id="Income">Income</a>
        <a class="item" data-tab="GetAcc?acc_group=5" id="Expense">Expenses</a>
    </div>
    <div class="ui tab segment active active" data-tab="GetAcc?acc_group=1">
        First
    </div>
    <div class="ui tab segment" data-tab="GetAcc?acc_group=2">
        Second
    </div>
    <div class="ui tab segment" data-tab="GetAcc?acc_group=3">
        Third
    </div>
    <div class="ui tab segment" data-tab="GetAcc?acc_group=4">
        Fourth
    </div>
    <div class="ui tab segment" data-tab="GetAcc?acc_group=5">
        Fifth
    </div>


    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#Assets").click();
            })
        </script>
    }*@
<div class="ui inverted menu">
    <a class="item" onclick="$(this).addForm()" id="btn-add">
        <i class="add icon green"></i>
        Add
    </a>
    <a class="item" onclick="$(this).editForm()" id="btn-edit">
        <i class="edit icon yellow"></i>
        Edit
    </a>
    <a class="item" onclick="$(this).deleteConfirm()" id="btn-delete">
        <i class="delete icon red"></i>
        Delete
    </a>
    <a class="item" onclick="$('#glacc-chart').jstree(true).refresh()" id="btn-reload">
        <i class="refresh icon red"></i>
        Reload
    </a>
</div>
<div class="ui two column stackable grid">
    <div class="ten wide column" id="glacc-chart-panel">
        <div class="scrollable-box-wrapper">
            <div class="scrollable-box">
                <div class="layer" id="readonly-layer" style="display: none;"></div>
                <p style="padding: 10px 10px 5px; margin-bottom: 0;">Chart of Accounts</p>
                <div id="glacc-chart">
                    @*@foreach (var acc1 in (List<GlaccVM>)Model)
                    {
                        <ul class="jstree-container-ul jstree-children" role="group">
                            <li aria-id="@acc1.Glacc.id" role="treeitem" aria-selected="false" aria-level="1" aria-labelledby="j4_1_anchor" aria-expanded="true" id="@acc1.accgrp-j4_1_@acc1.Glacc.id" class="jstree-node jstree-closed">
                                <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                <a class="jstree-anchor @(acc1.Glacc.id == selected_id ? "jstree-clicked" : "")" href="#" tabindex="-1" id="@acc1.accgrp-j4_1_@(acc1.Glacc.id)_anchor">
                                    <i class="jstree-icon jstree-themeicon" role="presentation"></i>@acc1.accnum @acc1.accnam
                                </a>
                                @if (acc1.childacc.Count > 0)
                                {
                                    <ul role="group" class="jstree-children" style="">
                                        @foreach (var acc2 in (List<GlaccVM>)acc1.childacc)
                                        {
                                            <li aria-id="@acc2.Glacc.id" role="treeitem" aria-selected="false" aria-level="2" aria-labelledby="j4_2_anchor" id="@acc2.accgrp-j4_2_@acc2.Glacc.id" class="jstree-node jstree-closed">
                                                <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                <a class="jstree-anchor @(acc2.Glacc.id == selected_id ? "jstree-clicked" : "")" href="#" tabindex="-1" id="@acc2.accgrp-j4_2_@(acc2.Glacc.id)_anchor">
                                                    <i class="jstree-icon jstree-themeicon" role="presentation"></i>@acc2.accnum @acc2.accnam
                                                </a>
                                                @if (acc2.childacc.Count > 0)
                                                {
                                                    <ul role="group" class="jstree-children" style="">
                                                        @foreach (var acc3 in (List<GlaccVM>)acc2.childacc)
                                                        {
                                                            <li aria-id="@acc3.Glacc.id" role="treeitem" aria-selected="false" aria-level="3" aria-labelledby="j4_3_anchor" id="@acc3.accgrp-j4_3_@acc3.Glacc.id" class="jstree-node jstree-closed">
                                                                <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                                <a class="jstree-anchor @(acc3.Glacc.id == selected_id ? "jstree-clicked" : "")" href="#" tabindex="-1" id="@acc3.accgrp-j4_3_@(acc3.Glacc.id)_anchor">
                                                                    <i class="jstree-icon jstree-themeicon" role="presentation"></i>@acc3.accnum @acc3.accnam
                                                                </a>
                                                                @if (acc3.childacc.Count > 0)
                                                                {
                                                                    <ul role="group" class="jstree-children" style="">
                                                                        @foreach (var acc4 in (List<GlaccVM>)acc3.childacc)
                                                                        {
                                                                            <li aria-id="@acc4.Glacc.id" role="treeitem" aria-selected="false" aria-level="4" aria-labelledby="j4_4_anchor" id="@acc4.accgrp-j4_4_@acc4.Glacc.id" class="jstree-node jstree-leaf" data-jstree="{'type':'file'}">
                                                                                <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                                                <a class="jstree-anchor @(acc4.Glacc.id == selected_id ? "jstree-clicked" : "")" href="#" tabindex="-1" id="@acc4.accgrp-j4_4_@(acc4.Glacc.id)_anchor">
                                                                                    <i class="jstree-icon jstree-file" role="presentation"></i>@acc4.accnum @acc4.accnam
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        </ul>
                    }*@
                </div>
            </div>
        </div>


    </div>
    <div class="six wide column" id="glacc-form-panel">
        <form class="ui form has-error" method="post" asp-controller="Glacc" asp-action="AddEdit" onsubmit="" id="glacc-form">
            <h4 class="ui dividing header">Add/Edit Account</h4>
            <input type="hidden" name="id" value="-1" />
            <div class="field">
                <label>Account Number</label>
                <div class="eight wide field">
                    <input type="text" name="accnum" placeholder="Account Number" disabled="disabled" onblur="$(this).checkDuplicate()" />
                </div>
            </div>
            <div class="field">
                <label>Account Name</label>
                <div class="sixteen wide field">
                    <input type="text" name="accnam" placeholder="Account Name (Th.)" disabled="disabled" />
                </div>
                <div class="sixteen wide field">
                    <input type="text" name="accnam2" placeholder="Account Name (En.)" disabled="disabled" />
                </div>
            </div>
            <div class="field">
                <div class="fields">
                    <div class="thirteen wide field">
                        <label>Parent Account</label>
                        <div class="field">
                            @*<select class="ui fluid dropdown" name="glacc[parent]">
                                    <option value=""></option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                </select>*@
                            @*<input type="text" name="parent" placeholder="Parent Account" disabled="disabled" />*@
                            <select class="ui search dropdown" name="parent" disabled="disabled" onchange="$(this).setDependValue()">
                                
                            </select>
                        </div>
                    </div>
                    <div class="three wide field">
                        <label>Level</label>
                        <div class="field">
                            <input type="text" name="level" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <label>Group</label>
                        <div class="field">
                            <select class="ui fluid dropdown" name="group" disabled="disabled">
                                <option value="1">1 - Assets</option>
                                <option value="2">2 - Liability</option>
                                <option value="3">3 - Equity</option>
                                <option value="4">4 - Revenue</option>
                                <option value="5">5 - Expense</option>
                            </select>
                        </div>
                    </div>
                    <div class="eight wide field">
                        <label>Type</label>
                        <div class="field">
                            <select class="ui fluid dropdown" name="acctyp" disabled="disabled">
                                <option value="0">0 - Posting</option>
                                <option value="1">1 - Summary</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        <label>Use Dept.</label>
                        <div class="field">
                            <select class="ui fluid dropdown" name="usedep" disabled="disabled">
                                <option value="N">N - No</option>
                                <option value="Y">Y - Yes</option>
                                <option value="M">M - Must specify dept.</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @if (ViewBag.message != null)
            {
                <div class="field">
                    <div class="ui error message">
                        <div class="header">Error Description</div>
                        <p>You can only sign up for an account once with a given e-mail address.</p>
                    </div>
                </div>
            }

            <button type="button" class="ui button green" tabindex="0" disabled="disabled" id="btn-submit" onclick="$(this).submitForm()"><i class="check circle icon"></i>Submit</button>
            <button type="button" class="ui button grey" tabindex="1" disabled="disabled" id="btn-cancel" onclick="$(this).clearForm()"><i class="times circle icon"></i>Cancel</button>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        var form_state = 'R';

        $(document).ready(function () {
            $('#glacc-chart').loadAccChart();
            $('[name="parent"]').loadSelectionParent();

            $('#glacc-chart').on('changed.jstree', function (e, data) {
                var id = $('#' + data.selected).attr('id');
                $.ajax({
                    type: "GET",
                    url: "/Glacc/GetAcc",
                    data: { id: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                }).done(function (acc) {
                    $('#glacc-form [name="id"]').val(acc.id);
                    $('#glacc-form [name="accnum"]').val(acc.accnum);
                    $('#glacc-form [name="accnam"]').val(acc.accnam);
                    $('#glacc-form [name="accnam2"]').val(acc.accnam2);
                    $('#glacc-form [name="parent"]').val(acc.parent);
                    $('#glacc-form [name="level"]').val(acc.level);
                    $('#glacc-form [name="group"]').val(acc.group);
                    $('#glacc-form [name="acctyp"]').val(acc.acctyp);
                    $('#glacc-form [name="usedep"]').val(acc.usedep);
                });

            });

            $('#glacc-chart').on('deselect_all.jstree', function (e, data) {
                console.log("deselect all");

            });

            $('#glacc-chart').on('refresh.jstree', function (e, data) {
                var selected_id = $('#glacc-chart').jstree(true).get_selected(false);
                $('#glacc-chart').jstree(true)._open_to(selected_id);
            });
        });

        $.fn.extend({
            loadAccChart: function () {
                $(this).html('');

                $(this).jstree({
                    "core": {
                        "data": {
                            "url": "/Glacc/GetGlaccJson",
                            "dataType": "json",
                        },
                        "multiple": false,
                    }
                });
            },

            addForm: function () {
                if (form_state !== 'R')
                    return;

                $('#readonly-layer').fadeIn(100);
                $('#glacc-form [name="id"]').val("-1");
                $('#glacc-form [name="accnum"]').removeAttr('disabled').focus();
                $('#glacc-form [name="accnam"]').removeAttr('disabled');
                $('#glacc-form [name="accnam2"]').removeAttr('disabled');
                $('#glacc-form [name="parent"]').removeAttr('disabled');
                $('#glacc-form [name="group"]').removeAttr('disabled');
                $('#glacc-form [name="acctyp"]').removeAttr('disabled');
                $('#glacc-form [name="usedep"]').removeAttr('disabled');
                $('#glacc-form #btn-submit').removeAttr('disabled');
                $('#glacc-form #btn-cancel').removeAttr('disabled');
                form_state = 'A'
                console.log(form_state);
            },

            editForm: function () {
                if (form_state !== 'R'/* || $('#glacc-form [name="accnum"]').val().trim().length == 0*/)
                    return;

                if ($('#glacc-chart').jstree(true).get_selected(false).length == 0)
                    return;

                $('#readonly-layer').fadeIn(100);
                $('#glacc-form [name="accnam"]').removeAttr('disabled').focus();
                $('#glacc-form [name="accnam2"]').removeAttr('disabled');
                $('#glacc-form [name="parent"]').removeAttr('disabled');
                $('#glacc-form [name="group"]').removeAttr('disabled');
                $('#glacc-form [name="acctyp"]').removeAttr('disabled');
                $('#glacc-form [name="usedep"]').removeAttr('disabled');
                $('#glacc-form #btn-submit').removeAttr('disabled');
                $('#glacc-form #btn-cancel').removeAttr('disabled');
                form_state = 'E'
                console.log(form_state);
            },

            clearForm: function () {
                $('#readonly-layer').fadeOut(100);
                $('#glacc-form [name="accnum"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="accnam"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="accnam2"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="parent"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="group"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="acctyp"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="usedep"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form #btn-submit').attr({ 'disabled': 'disabled' });
                $('#glacc-form #btn-cancel').attr({ 'disabled': 'disabled' });
                form_state = 'R'
                console.log(form_state);
            },

            checkDuplicate: function () {
                var target_elem = $(this);
                if ($(this).val().trim().length === 0)
                    return;

                $.ajax({
                    type: "GET",
                    url: "/Glacc/IsDuplicateAccnum",
                    data: { accnum: $(this).val().trim() },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                }).done(function (result) {
                    if (result === true) {
                        $(target_elem).css({ 'color': 'red' });
                    }
                    else {
                        $(target_elem).css({ 'color': 'black' });
                    }
                });

            },

            loadSelectionParent: function () {
                $.ajax({
                    type: "GET",
                    url: "/Glacc/GetGlacc",
                    data: { acctyp: '1' },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                }).done(function (result) {
                    $('[name="parent"]').html('');
                    $('[name="parent"]').append($('<option></option>').attr({ 'aria-acc-group': '1', 'aria-acc-level': '0', 'value': '' }).text(''));
                    $.each(result, function (key, value) {
                        $('[name="parent"]').append($('<option></option>').attr({ 'aria-acc-group': value.group, 'aria-acc-level': value.level, 'value': value.accnum }).text(value.accnum + ' ' + value.accnam));
                    });
                });
            },

            setDependValue: function () {
                var level = parseInt($(this).find('option:selected').attr("aria-acc-level")) + 1;
                var group = $(this).find('option:selected').attr("aria-acc-group");
                $('#glacc-form [name="level"]').val(level);
                $('#glacc-form [name="group"]').val(group);
            },

            submitForm: function () {
                var data = new Object();
                data.id = $("#glacc-form [name='id']").val();
                data.accnum = $("#glacc-form [name='accnum']").val();
                data.accnam = $("#glacc-form [name='accnam']").val();
                data.accnam2 = $("#glacc-form [name='accnam2']").val();
                data.parent = $("#glacc-form [name='parent']").val();
                data.level = $("#glacc-form [name='level']").val();
                data.group = $("#glacc-form [name='group']").val();
                data.acctyp = $("#glacc-form [name='acctyp']").val();
                data.usedep = $("#glacc-form [name='usedep']").val();

                $.ajax({
                    type: "POST",
                    url: "/Glacc/AddEditAsync",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (err) {
                        if (err.status === 400) {
                            alert("An error has occured.");
                        }
                    },
                    success: function (data) {
                        if (data.result === true) {
                            $(this).clearForm();
                            $('#glacc-chart').jstree(true).refresh();
                        }
                    }
                })

            }
        });
    </script>
}