
@{
    ViewData["Title"] = "Chart of Accounts";
    Glacc selected_item = ViewBag.SelectedItem;
    var selected_id = selected_item != null ? selected_item.id : -1;
}

<div class="toolbar-panel">
    <h2 class="title-text">@ViewData["Title"]</h2>
    @*<div class="ui pointing secondary menu" id="glacc-table">
            <a class="item active" data-tab="GetAcc?acc_group=1" id="Assets">Assets</a>
            <a class="item" data-tab="GetAcc?acc_group=2" id="Liabilities">Liabilities</a>
            <a class="item" data-tab="GetAcc?acc_group=3" id="Equity">Shareholder's Equity</a>
            <a class="item" data-tab="GetAcc?acc_group=4" id="Income">Income</a>
            <a class="item" data-tab="GetAcc?acc_group=5" id="Expense">Expenses</a>
        </div>
        <div class="ui tab segment active active" data-tab="GetAcc?acc_group=1">
            First
        </div>
        <div class="ui tab segment" data-tab="GetAcc?acc_group=2">
            Second
        </div>
        <div class="ui tab segment" data-tab="GetAcc?acc_group=3">
            Third
        </div>
        <div class="ui tab segment" data-tab="GetAcc?acc_group=4">
            Fourth
        </div>
        <div class="ui tab segment" data-tab="GetAcc?acc_group=5">
            Fifth
        </div>


        @section Scripts{
            <script>
                $(document).ready(function () {
                    $("#Assets").click();
                })
            </script>
        }*@

    <div class="ui inverted menu">
        <a class="item" onclick="$(this).addForm()" id="btn-add">
            <i class="add icon green"></i>
            Add
        </a>
        <a class="item" onclick="$(this).editForm()" id="btn-edit">
            <i class="edit icon yellow"></i>
            Edit
        </a>
        <a class="item" onclick="$(this).deleteConfirm()" id="btn-delete">
            <i class="delete icon red"></i>
            Delete
        </a>
        <a class="item" onclick="$('#glacc-chart').refreshAccChart()" id="btn-reload">
            <i class="refresh icon blue"></i>
            Reload
        </a>
        <div class="item">
            <div class="ui icon input">
                <input data-search-by="accnum" type="text" placeholder="Search..." id="search-key" onkeypress="$(this).enterPerformSearch(event)">
                <i class="search link icon" onclick="$('#search-key').search()" id="btn-search"></i>
            </div>
        </div>
    </div>
</div>

<div class="content-panel">
    <div class="ui one column">
        <div class="ui form">
            <div class="inline fields">
                <label>Sort by</label>
                <div class="ui small buttons">
                    <a href="@(ViewBag.sort_by == "accnum" ? "#" : "/Glacc/Index?sort_by=accnum")" class="ui button @(ViewBag.sort_by == "accnum" ? "active blue" : "") sort-btn"><i class="@(ViewBag.sort_by == "accnum" ? "check icon" : "")"></i>Account Number</a>
                    <div class="or"></div>
                    <a href="@(ViewBag.sort_by == "accnam" ? "#" : "/Glacc/Index?sort_by=accnam")" class="ui button @(ViewBag.sort_by == "accnam" ? "active blue" : "") sort-btn"><i class="@(ViewBag.sort_by == "accnam" ? "check icon" : "")"></i>Account Name</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        <div class="ten wide column" id="glacc-chart-panel">
            <div class="scrollable-box-wrapper">
                <div class="scrollable-box">
                    <div class="layer" id="readonly-layer" style="display: none;"></div>
                    <p style="padding: 10px 10px 5px; margin-bottom: 0;">Chart of Accounts</p>
                    <div id="glacc-chart"></div>
                </div>
            </div>


        </div>
        <div class="six wide column" id="glacc-form-panel">
            <form class="ui form has-error" method="post" asp-controller="Glacc" asp-action="AddEdit" onsubmit="" id="glacc-form">
                <h4 class="ui dividing header">Add/Edit Account</h4>
                <input type="hidden" name="id" value="-1" />
                <div class="field">
                    <label>Account Number</label>
                    <div class="eight wide field">
                        <input type="text" name="accnum" placeholder="Account Number" disabled="disabled" onblur="$(this).checkDuplicate()" />
                    </div>
                </div>
                <div class="field">
                    <label>Account Name</label>
                    <div class="sixteen wide field">
                        <input type="text" name="accnam" placeholder="Account Name (Th.)" disabled="disabled" />
                    </div>
                    <div class="sixteen wide field">
                        <input type="text" name="accnam2" placeholder="Account Name (En.)" disabled="disabled" />
                    </div>
                </div>
                <div class="field">
                    <div class="fields">
                        <div class="thirteen wide field">
                            <label>Parent Account</label>
                            <div class="field">
                                <select class="ui search dropdown" name="parent" disabled="disabled" onchange="$(this).setDependValue()"></select>
                            </div>
                        </div>
                        <div class="three wide field">
                            <label>Level</label>
                            <div class="field">
                                <input type="text" name="level" readonly="readonly" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Group</label>
                            <div class="field">
                                <select class="ui fluid dropdown" name="group" disabled="disabled">
                                    <option value="1">1 - Assets</option>
                                    <option value="2">2 - Liability</option>
                                    <option value="3">3 - Equity</option>
                                    <option value="4">4 - Revenue</option>
                                    <option value="5">5 - Expense</option>
                                </select>
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>Type</label>
                            <div class="field">
                                <select class="ui fluid dropdown" name="acctyp" disabled="disabled">
                                    <option value="0">0 - Posting</option>
                                    <option value="1">1 - Summary</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="field">
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Use Dept.</label>
                            <div class="field">
                                <select class="ui fluid dropdown" name="usedep" disabled="disabled">
                                    <option value="N">N - No</option>
                                    <option value="Y">Y - Yes</option>
                                    <option value="M">M - Must specify dept.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                @if (ViewBag.message != null)
                {
                    <div class="field">
                        <div class="ui error message">
                            <div class="header">Error Description</div>
                            <p>You can only sign up for an account once with a given e-mail address.</p>
                        </div>
                    </div>
                }

                <button type="button" class="ui button green" tabindex="0" disabled="disabled" id="btn-submit" onclick="$(this).submitForm()"><i class="check circle icon"></i>Submit</button>
                <button type="button" class="ui button red" tabindex="1" disabled="disabled" id="btn-cancel" onclick="$(this).clearForm()"><i class="times circle icon"></i>Cancel</button>
            </form>
        </div>
        @{
            var show_test_mail_form = false;
            @if (show_test_mail_form == true)
            {
                <form method="post" asp-controller="Mailing" asp-action="SendMail">
                    <button type="submit">Submit</button>
                </form>
                <form method="post" asp-controller="Mailing" asp-action="SendMailWithAttachment" enctype="multipart/form-data">
                    <input type="file" name="files" multiple />
                    <button type="submit">Submit</button>
                </form>
            }
        }

    </div>
</div>


@section Scripts{
    <script>
        var form_state = 'R';
        var sort_by = '@ViewBag.sort_by';
            var selected_id = -1;

        $(document).ready(function () {
            $('#glacc-chart').loadAccChart();
            $('[name="parent"]').loadSelectionParent();

            $('#glacc-chart').on('changed.jstree', function (e, data) {
                console.log(data);
                var id = $('#' + data.selected).attr('id');

                $.ajax({
                    type: "GET",
                    url: "/Glacc/GetAcc",
                    data: { id: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                }).done(function (acc) {
                    selected_id = id;
                    $('#selected-id').val(id);
                    $('#glacc-form [name="id"]').val(acc.id);
                    $('#glacc-form [name="accnum"]').val(acc.accnum);
                    $('#glacc-form [name="accnam"]').val(acc.accnam);
                    $('#glacc-form [name="accnam2"]').val(acc.accnam2);
                    $('#glacc-form [name="parent"]').val(acc.parent);
                    $('#glacc-form [name="level"]').val(acc.level);
                    $('#glacc-form [name="group"]').val(acc.group);
                    $('#glacc-form [name="acctyp"]').val(acc.acctyp);
                    $('#glacc-form [name="usedep"]').val(acc.usedep);
                });

            });

            $('#glacc-chart').on('deselect_all.jstree', function (e, data) {


            });

            $('#glacc-chart').on('refresh.jstree', function (e, data) {
                $('#glacc-chart').jstree(true).deselect_all(true);
                $('#glacc-chart').jstree(true).select_node(selected_id, false);
                $('#glacc-chart').jstree(true)._open_to($('#selected-id').val());
            });

            $('.sort-btn').on('click', function (event) {
                if (form_state !== 'R')
                    event.preventDefault();
            });
        });

        $.fn.extend({
            loadAccChart: function () {
                $(this).html('');

                $(this).jstree({
                    "core": {
                        "data": {
                            "url": "/Glacc/GetGlaccJson",
                            "dataType": "json",
                            "data": { acctyp: '*', sort_by: sort_by }
                        },
                        "multiple": false,
                    },
                    //"plugins": ["wholerow"]
                });
            },

            refreshAccChart: function () {
                if (form_state !== 'R')
                    return;

                $('#glacc-chart').jstree(true).refresh();
                $('[name="parent"]').loadSelectionParent();
            },

            addForm: function () {
                if (form_state !== 'R')
                    return;

                $('#readonly-layer').fadeIn(100);
                $('#glacc-form [name="id"]').val("-1");
                $('#glacc-form [name="accnum"]').removeAttr('disabled').focus();
                $('#glacc-form [name="accnam"]').removeAttr('disabled');
                $('#glacc-form [name="accnam2"]').removeAttr('disabled');
                $('#glacc-form [name="parent"]').removeAttr('disabled');
                $('#glacc-form [name="group"]').removeAttr('disabled');
                $('#glacc-form [name="acctyp"]').removeAttr('disabled');
                $('#glacc-form [name="usedep"]').removeAttr('disabled');
                $('#glacc-form #btn-submit').removeAttr('disabled');
                $('#glacc-form #btn-cancel').removeAttr('disabled');
                if ($('#glacc-chart').jstree(true).get_selected(false).length == 0)
                    $('#glacc-form [name="level"]').val("1");

                form_state = 'A'
                console.log(form_state);
            },

            editForm: function () {
                if (form_state !== 'R')
                    return;

                if ($('#glacc-chart').jstree(true).get_selected(false).length == 0)
                    return;

                $('#readonly-layer').fadeIn(100);
                $('#glacc-form [name="accnam"]').removeAttr('disabled').focus();
                $('#glacc-form [name="accnam2"]').removeAttr('disabled');
                $('#glacc-form [name="parent"]').removeAttr('disabled');
                $('#glacc-form [name="group"]').removeAttr('disabled');
                $('#glacc-form [name="acctyp"]').removeAttr('disabled');
                $('#glacc-form [name="usedep"]').removeAttr('disabled');
                $('#glacc-form #btn-submit').removeAttr('disabled');
                $('#glacc-form #btn-cancel').removeAttr('disabled');
                form_state = 'E'
                console.log(form_state);
            },

            clearForm: function () {
                $('#readonly-layer').fadeOut(100);
                $('#glacc-form [name="accnum"]').attr({ 'disabled': 'disabled' }).css({ 'color': '#000000' });
                $('#glacc-form [name="accnam"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="accnam2"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="parent"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="group"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="acctyp"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form [name="usedep"]').attr({ 'disabled': 'disabled' });
                $('#glacc-form #btn-submit').attr({ 'disabled': 'disabled' });
                $('#glacc-form #btn-cancel').attr({ 'disabled': 'disabled' });
                form_state = 'R'
                $('#btn-reload').click();
                console.log(form_state);
            },

            checkDuplicate: function () {
                var target_elem = $(this);
                if ($(this).val().trim().length === 0)
                    return;

                $.ajax({
                    type: "GET",
                    url: "/Glacc/IsDuplicateAccnum",
                    data: { accnum: $(this).val().trim() },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                }).done(function (result) {
                    if (result === true) {
                        $(target_elem).css({ 'color': 'red' });
                    }
                    else {
                        $(target_elem).css({ 'color': 'black' });
                    }
                });

            },

            loadSelectionParent: function () {
                $.ajax({
                    type: "GET",
                    url: "/Glacc/GetGlacc",
                    data: { acctyp: '1' },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'
                }).done(function (result) {
                    $('[name="parent"]').html('');
                    $('[name="parent"]').append($('<option></option>').attr({ 'aria-acc-group': '1', 'aria-acc-level': '0', 'value': '' }).text(''));
                    $.each(result, function (key, value) {
                        $('[name="parent"]').append($('<option></option>').attr({ 'aria-acc-group': value.group, 'aria-acc-level': value.level, 'value': value.accnum }).text(value.accnum + ' ' + value.accnam));
                    });
                });
            },

            setDependValue: function () {
                var level = parseInt($(this).find('option:selected').attr("aria-acc-level")) + 1;
                var group = $(this).find('option:selected').attr("aria-acc-group");
                $('#glacc-form [name="level"]').val(level);
                $('#glacc-form [name="group"]').val(group);
            },

            submitForm: function () {
                var data = new Object();
                data.id = $("#glacc-form [name='id']").val();
                data.accnum = $("#glacc-form [name='accnum']").val();
                data.accnam = $("#glacc-form [name='accnam']").val();
                data.accnam2 = $("#glacc-form [name='accnam2']").val();
                data.parent = $("#glacc-form [name='parent']").val();
                data.level = $("#glacc-form [name='level']").val();
                data.group = $("#glacc-form [name='group']").val();
                data.acctyp = $("#glacc-form [name='acctyp']").val();
                data.usedep = $("#glacc-form [name='usedep']").val();

                $.ajax({
                    type: "POST",
                    url: "/Glacc/AddEditAsync",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (err) {
                        if (err.status === 400) {
                            alert("An error has occured.");
                        }
                    },
                    success: function (data) {
                        if (data.result === true) {
                            selected_id = data.message;
                            $('#btn-cancel').click();
                        }
                        else {
                            alert(data.message);
                        }
                    }
                });
            },

            deleteConfirm: function () {
                if (form_state !== 'R')
                    return;

                var selected_acc = $('#glacc-chart').jstree(true).get_selected(true);

                if (selected_acc.length == 0)
                    return;

                var id = parseInt(selected_acc[0].li_attr.id);
                var accnum = selected_acc[0].li_attr.aria_accnum;

                if (confirm('Delete account number ' + accnum + ', Are you want to continue?') === true) {
                    $.ajax({
                        url: "/Glacc/DeleteAsync",
                        method: "POST",
                        data: JSON.stringify({ id: id }),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        error: function (err) {
                            if (err.status === 400) {
                                alert("An error has occured.");
                            }
                        },
                        success: function (data) {
                            if (data.result === true) {
                                $('#btn-reload').click();
                            }
                            else {
                                alert(data.message);
                            }
                        }
                    });
                }
            },

            enterPerformSearch: function (event) {
                if (event.keyCode === 13)
                    $(this).parent().find('#btn-search').click();
            },

            search: function () {
                var keyword = $(this).val().trim();
                var search_by = sort_by;
                if (keyword.length == 0)
                    return;

                $.ajax({
                    url: "/Glacc/SearchAsync",
                    method: "GET",
                    data: { keyword: keyword, search_by: search_by },
                    success: function (id) {
                        if (id > -1) {
                            $('#glacc-chart').jstree(true).deselect_all(true);
                            $('#glacc-chart').jstree(true).select_node(id, false, false);
                            $('#glacc-chart').jstree(true)._open_to(id);
                        }
                    }
                });
            },
        });
    </script>
}