<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XAcc</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jstree/themes/default/style.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome-all.css" asp-append-version="true" />*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jstree/themes/default/style.min.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome-all.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body>
    @{
        var sn = User.Identities.First().Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.SerialNumber).FirstOrDefault();
        var serial_number = sn != null ? sn.Value.ToString() : string.Empty;
        var current_db = User.Identities.First().Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.UserData).FirstOrDefault();
        var db_name = current_db != null ? current_db.Value.ToString() : string.Empty;
        var user = User.Identities.First().Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).FirstOrDefault();
        var user_name = user != null ? user.Value.ToString() : string.Empty;
    }



    @if (User.Identity.IsAuthenticated)
    {
        <div id="top-menu-panel" class="top-menu-panel min">
            <div class="top-menu-content" id="top-menu-content" onwheel="$(this).scrollHorizontal(event)" data-ready-scroll="1">
                <div class="ui top attached tabular menu" id="top-menu">
                    <a class="item" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Dashboard</a>
                    <a class="item active" data-tab="purchase">ซื้อ</a>
                    <a class="item" data-tab="sales">ขาย</a>
                    <a class="item" data-tab="finance">การเงิน</a>
                    <a class="item" data-tab="tax">ภาษี</a>
                    <a class="item" data-tab="stock">สินค้า</a>
                    <a class="item" data-tab="account">บัญชี</a>
                    <a class="item" data-tab="report">รายงาน</a>
                    <a class="item" data-tab="setup">เริ่มระบบ</a>
                    <a class="item" data-tab="others">อื่น ๆ</a>
                    <a class="item" href="#" onclick="confirmLogout()">ออกระบบ<i class="fas fa-sign-out-alt" style="margin-left: 2px;"></i></a>
                </div>
                <div class="ui tab segment active" data-tab="purchase">

                    <div class="sub-menu-wrapper" style="width: 1040px;">
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">รายการประจำวัน<br />(A/P Daily Transaction)</p>
                                <a class="wt-button x2" asp-controller="Aptrn_ae" asp-action="Index">
                                    <i class="fab fa-amazon fa-2x"></i>
                                    <p class="header">จ่ายเงินมัดจำ</p>
                                    <p class="description">จ่ายเงินสด/เช็ค/เงินโอน เพื่อมัดจำค่าสินค้า (Deposit Payment)</p>
                                </a>
                                <a class="wt-button x2" asp-controller="Popr_po" asp-action="Index">
                                    <i class="fas fa-angle-down fa-2x"></i>
                                    <p class="header">ใบสั่งซื้อ</p>
                                    <p class="description">บันทึกรายการใบสั่งซื้อสินค้า/บริการ (Purchase Order)</p>
                                </a>
                            </div>
                            <div class="section">
                                <a class="wt-button x2">
                                    <i class="fas fa-2x fa-dove"></i>
                                    <p class="header">ซื้อเงินสด</p>
                                    <p class="description">ซื้อสินค้า/บริการ โดยชำระด้วยเงินสด/เช็ค/เงินโอน (Cash Purchase)</p>
                                </a>
                                <a class="wt-button x2">
                                    <i class="fas fa-2x fa-chess-rook"></i>
                                    <p class="header">ซื้อเงินเชื่อ</p>
                                    <p class="description">ซื้อสินค้า/บริการ โดยได้เครดิตจากผู้จำหน่าย (Credit Purchase)</p>
                                </a>
                                <a class="wt-button x2">
                                    <i class="fas fa-2x fa-chess-rook"></i>
                                    <p class="header">บันทึกค่าใช้จ่ายอื่น ๆ</p>
                                    <p class="description">บันทึกรายการค่าใช้จ่าย โดยชำระด้วยเงินสด/เช็ค/เงินสด (Other Expenses)</p>
                                </a>
                            </div>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x3" asp-controller="Apmas" asp-action="Index">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="header">รายละเอียดผู้จำหน่าย</p>
                                <p class="description">แฟ้มรายละเอียดผู้จำหน่าย (Supplier File)</p>
                            </a>
                            <a class="wt-button x3" asp-controller="Aptrn_ae" asp-action="Index">
                                <i class="fab fa-2x fa-amazon"></i>
                                <p class="header">รายละเอียดค่าใช้จ่ายอื่น ๆ</p>
                                <p class="description">แฟ้มรายละเอียดค่าใช้จ่ายอื่น ๆ (Expenses File)</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="sales">
                    <div class="sub-menu-wrapper" style="width: 1040px;">
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">รายการประจำวัน<br />(A/R Daily Transaction)</p>
                                <a class="wt-button x2" asp-controller="Artrn_ai" asp-action="Index">
                                    <i class="fab fa-amazon fa-2x"></i>
                                    <p class="header">รับเงินมัดจำ (Deposit Receipts)</p>
                                    <p class="description">รับเงินสด/เช็ค/เงินโอน เพื่อมัดจำค่าสินค้า/บริการ (Deposit Receipts)</p>
                                </a>
                                <a class="wt-button x1" asp-controller="Oeso_so" asp-action="Index">
                                    <i class="fas fa-angle-down fa-2x"></i>
                                    <p class="header">ใบเสนอราคา (Quotes)</p>
                                    <p class="description">บันทึกรายการใบเสนอราคาสินค้า/บริการ (Quotes)</p>
                                </a>
                                <a class="wt-button x1" asp-controller="Oeso_so" asp-action="Index">
                                    <i class="fas fa-angle-down fa-2x"></i>
                                    <p class="header">ใบสั่งขาย (Sales Order)</p>
                                    <p class="description">บันทึกรายการใบสั่งขายสินค้า/บริการ (Sales Order)</p>
                                </a>
                            </div>
                            <div class="section">
                                <a class="wt-button x2" asp-controller="Artrn_ai" asp-action="Index">
                                    <i class="fab fa-amazon fa-2x"></i>
                                    <p class="header">ขายเงินสด</p>
                                    <p class="description">ขายสินค้า/บริการ โดยรับชำระเป็นเงินสด/เช็ค/เงินโอน (Cash Sales)</p>
                                </a>
                                <a class="wt-button x2" asp-controller="Oeso_so" asp-action="Index">
                                    <i class="fas fa-angle-down fa-2x"></i>
                                    <p class="header">ขายเงินเชื่อ</p>
                                    <p class="description">ขายสินค้า/บริการ โดยให้เครดิตกับลูกค้า (Credit Sales)</p>
                                </a>
                                <a class="wt-button x2" asp-controller="Oeso_so" asp-action="Index">
                                    <i class="fas fa-angle-down fa-2x"></i>
                                    <p class="header">บันทึกรายได้อื่น ๆ</p>
                                    <p class="description">บันทึกรายการรายได้อื่น ๆ (Other Income)</p>
                                </a>
                            </div>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x2" asp-controller="Armas" asp-action="Index">
                                <i class="fas fa-users fa-2x"></i>
                                <p class="header">รายละเอียดลูกค้า</p>
                                <p class="description">แฟ้มรายละเอียดลูกค้า (Customer File)</p>
                            </a>
                            <a class="wt-button x2" asp-controller="Stmas" asp-action="Index" asp-route-stktyp="4">
                                <i class="fab fa-2x fa-amazon"></i>
                                <p class="header">รายละเอียดรายได้อื่น ๆ</p>
                                <p class="description">แฟ้มรายละเอียดรายได้อื่น ๆ (Income File)</p>
                            </a>
                            <a class="wt-button x2" asp-controller="Oeslm" asp-action="Index">
                                <i class="fab fa-2x fa-amazon"></i>
                                <p class="header">รายละเอียดพนักงานขาย</p>
                                <p class="description">แฟ้มรายละเอียดพนักงานขาย (Salesman File)</p>
                            </a>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x2">
                                <i class="fas fa-2x fa-dove"></i>
                                <p class="header">ทะเบียนหมายเลขสินค้า</p>
                                <p class="description">บันทึกหมายเลขสินค้า+ประวัติการให้บริการ (Product Serialize)</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="finance">
                    <div class="sub-menu-wrapper" style="width: 1760px;">
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">รับเงิน<br />(To Receive)</p>
                                <a class="wt-button x1"><p class="header">ใบวางบิล (A/R Bill Collection List)</p></a>
                                <a class="wt-button x1"><p class="header">บันทึกวันนัดรับชำระ (Appoint to Collection)</p></a>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">รับชำระหนี้</p><p class="description">บันทึกรายการรับชำระหนี้จากลูกหนี้ (Receipts)</p></a>
                            </div>
                            <div class="section">
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">ใบเพิ่มหนี้</p><p class="description">บันทึกรายการเพิ่มหนี้ลูกหนี้ (A/R Debit Note)</p></a>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">ใบลดหนี้/รับคืนสินค้า</p><p class="description">บันทึกรายการลดหนี้ลูกหนี้/รับคืนสินค้า (A/R Credit Note/Sales Return)</p></a>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">บันทึกรายการลูกหนี้คงค้างยกมา</p><p class="description">บันทึกรายการลูกหนี้คงค้างก่อนรอบปีบัญชีปัจจุบัน (Appoint to Collection)</p></a>
                            </div>
                        </div>
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">จ่ายเงิน<br />(To Pay)</p>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">ใบรับวางบิล</p><p class="description">บันทึกรายการรับวางบิลจากเจ้าหนี้ (A/P Billing Slip)</p></a>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">จ่ายชำระหนี้</p><p class="description">บันทึกรายการรับชำระหนี้จากลูกหนี้ (Receipts)</p></a>
                            </div>
                            <div class="section">
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">ใบเพิ่มหนี้</p><p class="description">บันทึกรายการเพิ่มหนี้ลูกหนี้ (A/R Debit Note)</p></a>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">ใบลดหนี้/ส่งคืนสินค้า</p><p class="description">บันทึกรายการลดหนี้ลูกหนี้/รับคืนสินค้า (A/R Credit Note/Sales Return)</p></a>
                                <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">บันทึกรายการเจ้าหนี้คงค้างยกมา</p><p class="description">บันทึกรายการลูกหนี้คงค้างก่อนรอบปีบัญชีปัจจุบัน (Appoint to Collection)</p></a>
                            </div>
                        </div>
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">ธนาคาร<br />(Banking)</p>
                                <a class="wt-button x1"><p class="header">บันทึกเช็คนำฝาก (Cheque Deposits)</p></a>
                                <a class="wt-button x1"><p class="header">ผ่านเช็ครับ (Cheque Receive - Cleared)</p></a>
                                <a class="wt-button x2"><i class="fas fa-money-check-alt fa-2x"></i><p class="header">ทะเบียนเช็ครับ</p><p class="description">ทะเบียนเช็ครับ (Cheque Receivable)</p></a>
                            </div>
                            <div class="section">
                                <a class="wt-button x2"><i class="fas fa-money-check-alt fa-2x"></i><p class="header">รายละเอียดบัญชีเงินฝาก</p><p class="description">รายละเอียดบัญชีเงินฝากของกิจการ (Bank Account File)</p></a>
                                <div class="wt-button blank x1"></div>
                                <a class="wt-button x1"><p class="header">ผ่านเช็คจ่าย (Cheque Paid - Cleared)</p></a>
                                <a class="wt-button x2"><i class="fas fa-money-check-alt fa-2x"></i><p class="header">ทะเบียนเช็คจ่าย</p><p class="description">ทะเบียนเช็คจ่าย (Cheque Payable)</p></a>
                            </div>
                            <div class="section">
                                <a class="wt-button x1"><p class="header">ฝากเงินสด (Cash Deposit)</p></a>
                                <a class="wt-button x1"><p class="header">ถอนเงินสด (Cash Withdraw)</p></a>
                                <a class="wt-button x1"><p class="header">โอนเงินระหว่างบัญชี (Bank A/C Transfer)</p></a>
                                <a class="wt-button x1"><p class="header">รายได้ธนาคาร (Bank Income)</p></a>
                                <a class="wt-button x1"><p class="header">ค่าใช้จ่ายธนาคาร (Bank Charges)</p></a>
                                <a class="wt-button x1"><p class="header">ถอนเงินสดด้วยเช็ค (Withdraw by Cheque)</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="tax">
                    <div class="sub-menu-wrapper" style="width: 530px;">
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">ภาษีมูลค่าเพิ่ม<br />(VAT. File)</p>
                                <a class="wt-button x2"><i class="fas fa-clipboard-list fa-2x"></i><p class="header">ภาษีซื้อ (Purchase Tax)</p><p class="description">รายการใบกำกับภาษีซื้อ</p></a>
                                <a class="wt-button x2"><i class="fas fa-receipt fa-2x"></i><p class="header">ภาษีขาย (Sales Tax)</p><p class="description">รายการใบกำกับภาษีขาย</p></a>
                            </div>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x2"><i class="fas fa-inbox fa-2x"></i><p class="header">ภาษีหัก ณ ที่จ่าย</p><p class="description">แฟ้มรายการภาษีหัก ณ ที่จ่าย (Withholding Tax)</p></a>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="stock">
                    <div class="sub-menu-wrapper">
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">รายการประจำวัน<br />(Stock Daily Transaction)</p>
                                <a class="wt-button x1"><p class="header">จ่ายสินค้าภายใน (Internal Issue)</p></a>
                                <a class="wt-button x1"><p class="header">โอนย้ายระหว่างคลัง (Location Transfer)</p></a>
                                <a class="wt-button x1"><p class="header">ปรับปรุงยอดสินค้า (Qty. Adjustment)</p></a>
                                <a class="wt-button x1"><p class="header">ปรับปรุงต้นทุนสินค้า (Cost Adjustment)</p></a>
                            </div>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x2"><i class="fas fa-clipboard-list fa-2x"></i><p class="header">รายละเอียดสินค้า</p><p class="description">รายละเอียดสินค้าทั่วไป สินค้ามีสต็อค (Stock File)</p></a>
                            <a class="wt-button x2"><i class="fas fa-clipboard-list fa-2x"></i><p class="header">รายละเอียดสินค้าชุด</p><p class="description">รายละเอียดสินค้าที่จัดเป็นชุด (Product Set File)</p></a>
                            <a class="wt-button x2"><i class="fas fa-clipboard-list fa-2x"></i><p class="header">รายละเอียดสินค้าบริการ</p><p class="description">รายละเอียดสินค้าบริการ (Service File)</p></a>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">ตารางราคาขาย</p><p class="description">กำหนดระดัลราคาของสินค้าในการขาย (Price List)</p></a>
                            <a class="wt-button x2"><i class="fas fa-chess-rook fa-2x"></i><p class="header">กำหนดจุดสั่งซื้อ</p><p class="description">กำหนดจุดสั่งซื้อให้กับสินค้า (Reorder Quantities)</p></a>
                        </div>
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">รายการตรวจนับสินค้า<br />(Physical Count Process)</p>
                                <a class="wt-button x1"><p class="header">สร้างข้อมูลตรวจนับ (Generate Worksheet)</p></a>
                                <a class="wt-button x1"><p class="header">บันทึกปริมาณที่นับได้ (Record Quantity Counted)</p></a>
                                <a class="wt-button x1"><p class="header">ปรับปรุงยอดสินค้าตามที่ตรวจนับ (Post Physical Count)</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="account">
                    <div class="sub-menu-wrapper" style="width: 515px;">
                        <div class="wt-button-container group">
                            <div class="section">
                                <p class="wt-label">บันทึกรายการประจำวัน<br />(Journal Entries)</p>
                                <a class="wt-button x2" asp-controller="Gljnl" asp-action="Index" asp-route-trnstat="U">
                                    <i class="fas fa-2x fa-edit"></i>
                                    <p class="header">รายการที่ยังไม่ผ่านบัญชี</p>
                                    <p class="description">รายการลงบัญชีที่ยังไม่ผ่านไปยังแยกประเภท</p>
                                </a>
                                <a class="wt-button x2" asp-controller="Gljnl" asp-action="Index" asp-route-trnstat="P">
                                    <i class="fas fa-2x fa-check-circle"></i>
                                    <p class="header">รายการที่ผ่านบัญชีแล้ว</p>
                                    <p class="description">รายการลงบัญชีที่ผ่านไปยังแยกประเภทแล้ว (ไม่สามารถแก้ไขได้)</p>
                                </a>
                            </div>
                        </div>
                        <div class="wt-button-container">
                            <a class="wt-button x2" data-controller="Glacc" asp-controller="Glacc" asp-action="Index" asp-route-sort_by="accnum">
                                <i class="fas fa-2x fa-edit"></i>
                                <p class="header">ผังบัญชี</p>
                                <p class="description">ผังบัญชี (Chart of Accounts)</p>
                            </a>

                            <a class="wt-button x2">
                                <i class="fas fa-2x fa-check-circle"></i>
                                <p class="header">บันทึกยอดยกมา</p>
                                <p class="description">บันทึกยอดยกมา (Beginning Balances)</p>
                            </a>
                            <a class="wt-button x2">
                                <i class="fas fa-2x fa-check-circle"></i>
                                <p class="header">ยอดปีที่แล้ว</p>
                                <p class="description">ยอดปีที่แล้ว (Last Year Maintenance)</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="report">
                </div>
                <div class="ui tab segment" data-tab="setup">
                    <div class="sub-menu-wrapper" style="width: 280px;">
                        <div class="wt-button-container">
                            <a class="wt-button x2" asp-controller="Istab" asp-action="Index" asp-route-tabtyp="@Istab.TABTYP.BNKCOD.GetTabtypCode()">
                                <i class="fas fa-clipboard-list fa-2x"></i>
                                <p class="header">กำหนดตารางข้อมูล</p>
                                <p class="description">กำหนดหมวดหมู่ และ ตารางข้อมูลต่าง ๆ (Category Tables)</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="others">
                </div>
                <span id="show-top-menu" onclick="$(this).toggleShowTopMenu(event)"><i class="fa fa-angle-down"></i>Show Menu</span>
            </div>
        </div>
        @*<div id="nav-container" class="nav-container minimize">
            <nav class="nav-sidebar">
                <div>
                    <div class="nav-sidebar-brand">
                        <a asp-controller="Home" asp-action="Index"><h2>@@</h2></a>
                    </div>
                    <div class="nav-sidebar-toggle-btn" onclick="$(this).toggleShowSidebar(event)">
                        <i class="expand icon large"></i>
                    </div>

                    <div class="nav-sidebar-menu">
                        <ul class="">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Purchase<i class="cart arrow down icon"></i></a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Sales<i class="shopping basket icon"></i></a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Finance<i class="money bill alternate outline icon"></i></a></li>
                            <li><a asp-area="" asp-controller="Stmas" asp-action="Index" class="main-menu">Stock<i class="cubes icon"></i></a></li>
                            <li><div asp-area="" asp-controller="Glacc" asp-action="Index" asp-route-sort_by="accnum" aria-module="Account" onclick="$(this).showSubMenu(event)">Account<i class="dollar sign icon"></i></div></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Report<i class="chart bar icon"></i></a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Setup<i class="cogs icon"></i></a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Other<i class="braille icon"></i></a></li>
                            <li><a href="#" onclick="$('#select-comp-dialog').getSelectDataList('@serial_number', '@user_name')">Change Company<i class="retweet icon"></i></a></li>
                            <li><a href="#" onclick="confirmLogout()">Log out<i class="sign out icon"></i></a></li>
                        </ul>
                    </div>

                </div>
            </nav>
            <div class="sub-menu-display-panel">
                <i class="wt-close" id="close-sub-menu" style="cursor:pointer; float: right;" onclick="$(this).closeSubMenu(event)"></i>
                <div id="sub-menu-display"></div>
            </div>
        </div>*@
        
    }
    <div class="ui container body-content">
        @RenderBody()
        <hr />
        <footer class="xstyle">
            <p>&copy; 2561 - XAcc, S/N : @serial_number,  ที่เก็บข้อมูล : @db_name, รหัสผู้ใช้งาน : @user_name</p>
            <p class="right"></p>
        </footer>
    </div>
    <form class="fake-form" asp-action="Index"></form>
    @*<div tabindex="-1" class="long modal" id="select-comp-dialog"></div>*@
    <div class="ui modal" id="select-comp-dialog">
        @*<i class="close icon"></i>
        <div class="header">
            Modal Title
        </div>
        <div class="image content">
            <div class="image">
                An image can appear on left or an icon
            </div>
            <div class="description">
                A description can appear on the right
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>*@
    </div>
    <div class="ui modal" id="confirm-dialog">
        <div class="header" id="confirm-header">Message</div>
        <div class="scrolling content">
            <p id="confirm-message"></p>
        </div>
        <div class="actions">
            <form method="post" id="confirm-dialog-form" style="display:inline;">
                <button type="submit" class="ui button" id="confirm-btn-ok">OK</button>
                <input type="hidden" name="form_action_id" />
            </form>
            <button class="ui button" id="confirm-btn-cancel" onclick="clearConfirmDialog()">Cancel</button>
            <button class="ui button" id="confirm-btn-close" onclick="clearConfirmDialog()">Close</button>
        </div>
    </div>
    <div class="dim-overlay"></div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        @*<script src="~/js/jquery.slimscroll.js" asp-append-version="true"></script>*@
        <script src="~/lib/semantic-ui/dist/semantic.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jstree/jstree.js" asp-append-version="true"></script>
        <script src="~/lib/font-awesome/fontawesome-all.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-mousewheel/jquery.mousewheel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/jquery.slimscroll.min.js" asp-append-version="true"></script>*@
        <script src="~/lib/semantic-ui/dist/semantic.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jstree/jstree.min.js" asp-append-version="true"></script>
        <script src="~/lib/font-awesome/fontawesome-all.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-mousewheel/jquery.mousewheel.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>
