
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    @foreach (var item in (List<XAcc.Models.ScmodulVM>)Model)
    {
        @if (item.hasChild)
        {
            <div class="sub-menu"><p aria-module="@item.Scmodul.modul" onclick="$(this).showSubMenu(event)">@item.Scmodul.desc_th</p></div>

        }
        else
        {
            <div class="sub-menu"><a asp-controller="@item.Scmodul.controller_name" asp-action="@item.Scmodul.action_name" onclick="$(this).showSubMenu(event)">@item.Scmodul.desc_th</a></div>

        }

    }
</div>